/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
.DS_Store
*.iml
*.ipr
*.log
*.code-workspace
package-lock.json
.vscode/settings.json